.marker-list {
  list-style: none;
  padding: 0;

  .marker-list-item {
    margin-bottom: 10px;
  }

  .marker-comment {
    display: block;
    margin-bottom: 5px;
  }

  .delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
